<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tru.wolfpackapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".agendalist"
            android:label="Agenda_code"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".calender"
            android:label="Calender_code"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".currentseason"
            android:label="Currentseason_code"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".dailyschedule"
            android:label="Daily_Schedule_code"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".gamedetails"
            android:label="Game_Detail_code"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".homescreen"
            android:label="Home_Screen_code"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".malefemaleboth"
            android:label="Male_Female_Both_code"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".settings"
            android:label="Settings_code"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".splashscreen"
            android:label="Splash_Screen_code"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".sportlist"
            android:label="Sport_List_code"
            android:parentActivityName=".MainActivity" >
        </activity>

    </application>

</manifest>
